tqdm
rotary_embedding_torch
transformers
tokenizers
inflect
progressbar
einops
unidecode
scipy
librosa
numba==0.48.0
ffmpeg

scikit-image
python_speech_features
pyworld
pyyaml
pytorch-lightning
imageio
pyworld
opencv-python
torchaudio